*.log
*.html
*.htm
*.tar
*.gz
*.tar.gz
*.bak
*.csv
*.xls
*.xlsx
*.sql
*.db
*.msg
*.komodoproject
*.kpf
*.mac
.gitattributes

/Build
/MYMETA.*
/_build/
/blib/

#/uml
#/html
#/mails
#/log
#/backup
#/csv
#/db
