Source: ngcp-bulk-processor
Section: perl
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends:
 debhelper (>= 10~),
 libmodule-build-perl,
Standards-Version: 3.9.8
Homepage: https://www.sipwise.com/

Package: libexcel-reader-xlsx-perl
Architecture: all
Replaces:
 ngcp-bulk-processor,
Depends:
 ${misc:Depends},
 ${perl:Depends},
 libarchive-zip-perl,
 libole-storage-lite-perl,
 libxml-libxml-perl,
Description: module to parse Excel spreadsheets in xlsx format
 The Excel::Reader::XLSX module is used to parse an Excel file in
 the 2007+ XLSX format. The XLSX format is the Office Open XML (OOXML)
 format used by Excel 2007 and later.

Package: libngcp-bulkprocessor-perl
Architecture: all
Replaces:
 ngcp-bulk-processor,
Depends:
 ${misc:Depends},
 ${perl:Depends},
 libconfig-any-perl,
 libdata-dump-perl,
 libdata-dumper-concise-perl,
 libdata-rmap-perl,
 libdata-uuid-perl,
 libdata-validate-ip-perl,
 libdate-calc-perl,
 libdate-manip-perl,
 libdatetime-format-iso8601-perl,
 libdatetime-format-strptime-perl,
 libdatetime-perl,
 libdatetime-timezone-perl,
 libdbd-csv-perl,
 libdbd-mysql-perl,
 libdbd-sqlite3-perl,
 libdigest-md5-perl,
 libemail-mime-attachment-stripper-perl,
 libemail-mime-perl,
 libexcel-reader-xlsx-perl,
 libgearman-client-perl,
 libhtml-parser-perl,
 libintl-perl,
 libio-socket-ssl-perl,
 liblog-log4perl-perl,
 libmail-imapclient-perl,
 libmarpa-r2-perl,
 libmime-base64-perl,
 libmime-lite-perl,
 libmime-tools-perl,
 libnet-address-ip-local-perl,
 libphp-serialization-perl,
 libspreadsheet-parseexcel-perl,
 libstring-mkpasswd-perl,
 libsys-cpuaffinity-perl,
 libtext-csv-xs-perl,
 libtie-ixhash-perl,
 libtime-warp-perl,
 liburi-find-perl,
 libuuid-perl,
 libwww-perl,
 libxml-dumper-perl,
 libyaml-libyaml-perl,
Description: NGCP bulk processor framework perl modules
 This package provides the NGCP::BulkProcessor perl modules that implement
 a framework for parallel/distributed processing of record blocks.

Package: ngcp-bulk-processor
Architecture: all
Section: oldlibs
Depends:
 libexcel-reader-xlsx-perl,
 libngcp-bulkprocessor-perl,
Description: transitional dummy package
 This package has been split into libexcel-reader-xlsx-perl and
 libngcp-bulkprocessor-perl. It can be safely removed once it is not
 depended on by other packages.
